@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

h1 > a{
    color: skyblue;
}

h1> a:hover{
    color: white;
}

body{
    background-color: black;
    color: yellow;
}

.movie a{
    text-decoration: none;
    color: skyblue;
    font-size: 48px;
}

.crawl{
    background-color: black;
    color: yellow;
    font-family: 'News Cycle', sans-serif;

}

h2{
    color: white;
}